:root {
    background-color: #f5d0fe;
    font-family: 'DM Sans', sans-serif;
}

.container {
    display: grid;
    grid-template: 1fr 3fr / 1fr 3fr;
}

.container>div {
    border: 1px solid black;
}

.header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: #fdf4ff;
}

ul {
    list-style-type: ;
}

.sidebar {
    background-color: #701a75;
    color: #fdf4ff;
}

.project {
    background-color: #fdf4ff;
}