:root {
    background-color: #f5d0fe;
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template: 1fr 4fr/ 1fr 5fr;
    padding: 0;
    margin: 0;
    height: 100dvh;
    width: 100dvw;
}

.container>div {
    border: 1px solid black;
}

.header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: #fdf4ff;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* height: 10dvh; */
    border: 1px solid black;
}

img {
    height: calc(10dvh * .3);
}

.top-header {
    display: flex;
    padding: .5rem;
    justify-content: flex-start;
    align-items: start;
    border: 1px solid black;
}

.search-icon {
    
}

.search-bar {
    border: 1px solid #fae8ff;
    border-radius: 10rem;
    background-color: #fae8ff;
    color: #701a75;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    width: 40dvw;
    height: fit-content;
    margin-right: auto;
}

.top-header-util {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    margin-right: .5rem;
}

.bottom-header {
    grid-row: 2 / 3;
}

ul {
    list-style-type: none;
}

.sidebar {
    background-color: #701a75;
    color: #fdf4ff;
    grid-row: 1 / 3;
}

.dash-content {
    background-color: #fae8ff;
}

.project {
    background-color: #fdf4ff;
}