:root {
    background-color: #f5d0fe;
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template: 1fr 4fr/ 1fr 5fr;
    padding: -1rem;
    margin: -1rem;
    height: 101dvh;
    width: 102dvw;
    flex-grow: 2;
}

.header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-left: 2rem;
    padding-top: .75rem;
}

img {
    height: calc(10dvh * .3);
}

.top-header {
    display: flex;
    padding: .5rem;
    justify-content: flex-start;
    align-items: start;
}

.search-bar {
    border: 1px solid #fae8ff;
    border-radius: 10rem;
    background-color: #fae8ff;
    color: #701a75;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    width: 40dvw;
    height: fit-content;
    margin-right: auto;
}

.top-header-util {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    padding-right: 1.5rem;
    padding-top: 0;
    margin-top: 0;
}

.bottom-header {
    grid-row: 2 / 3;
    display: flex;
    justify-content: start;
    align-items: start;
}

.bottom-header .icon {
    width: 3rem;
    height: auto;
    margin-right: 1rem;
}

.greeting {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.user {
    font-size: 1.5rem;
}

.functions {
    display: flex;
    gap: 2rem;
    padding-right: 3.5rem;
}

.functions li {
    background-color: #4a044e;
    color: white;
    padding: .25rem .5rem .25rem .5rem;
    border-radius: 1rem;
    width: 4rem;
    text-align: center;
}

ul {
    list-style-type: none;
}

.sidebar {
    background-color: #4a044e;
    color: #fdf4ff;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr 3fr;
    text-align: left;
    padding-top: 2rem;
}

.dash-logo {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 1.25rem;
    gap: .25rem;
}

.sidebar img {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(12deg) brightness(108%) contrast(100%);
}

.nav-settings {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.nav-settings li {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.dash {
    grid-column: 2 /  3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fae8ff;
}

.dash-content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    border: 1px solid black;
    padding: .5rem;
}

.projects {
    display: grid;
    grid-template-rows: .2fr 5fr;
    grid-column: 1 / 3;
    margin-left: .5rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr) .1rem;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    gap: 1rem;
    justify-content: space-evenly;

}

.projects span {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    /* margin-left: .5rem; */
}

.project {
    gap: .25rem;
    text-align: left;
    padding-bottom: 0;
    background-color: white;
    border-radius: .25rem;
    display: grid;
    grid-template-columns: .5fr 15fr;
    grid-template-rows: 1fr 8fr;
}

.project .edge-fill {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #a3e635;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.project .title {
    font-weight: 700;
    grid-column: 2 / 3;
}

.side-content {
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: .5rem;
    gap: .5rem;
    margin: .5rem;
}

.side-content div {
    display: flex;
    flex-direction: column;
}

.side-content div div {
    flex-grow: 2;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    padding: 1rem;
    border-radius: .25rem;
}

.announcements > span,
.trending > span,
.projects > span {
    font-weight: 700;
}

.content > span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D3D3D3;
}
